body{
  background-image: url("https://img.freepik.com/free-photo/clock-ticks-sands-slip-sun-sets-success-awaits-generative-ai_188544-9602.jpg?t=st=1712704641~exp=1712708241~hmac=5d0d756f35cdf93367ec795b7a82477ef3fc88819ba65e1d29c8a174b0f4a748&w=1380");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* text-align: center; */
  background-color: rgba(165, 176, 164, 0.88);
  min-height: 100vh;
}
h1{
  font-size: 60px;
  color: rgba(162, 8, 8, 0.569);
  margin-left: 50px;
}

p{
  color: #0d2331;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  margin-left: 50px;
}
button{
  padding: 20px;
  color: #fff;
  background-color: red;
  border: none;
  width: 50%;
  text-align: center;
  margin-left: 50px;
}
button:hover{
  background-color: #fff;
  border: 1px solid red;
  color: red;
}
